@layout HomeLayout
@page "/"

<PageTitle>Start</PageTitle>

<MainBanner H1="Wynajmij z nami wolność na czterech kółkach" H4="O nas"></MainBanner>

<div class="container pb-5">
    <h2 class="py-5 text-center">Kim jesteśmy?</h2>
    <div class="row px-lg-5">
        <div class="col-sm-6 p-3">
            <div class="card">
                <img class="card-img-top" src="/img/r8.jpg">
                <div class="card-body">
                    <p class="card-text">Jesteśmy firmą specjalizującą się w wynajmie sportowych samochodów dla osób, które cenią sobie szybkość, styl i elegancję.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 p-3">
            <div class="card">
                <img class="card-img-top" src="/img/cars.jpg">
                <div class="card-body">
                    <p class="card-text">Nasza flota składa się z najnowszych modeli od renomowanych producentów, takich jak Ferrari, Lamborghini, Porsche czy McLaren.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row px-lg-5">
        <div class="col-sm-6 p-3">
            <div class="card">
                <img class="card-img-top" src="/img/lb.jpg">
                <div class="card-body">
                    <p class="card-text">Posiadamy szeroką gamę aut, które z pewnością spełnią oczekiwania naszych klientów.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 p-3">
            <div class="card">
                <img class="card-img-top" src="/img/bmw.jpg">
                <div class="card-body">
                    <p class="card-text">Działamy w branży motoryzacyjnej od wielu lat i możemy pochwalić się dużym doświadczeniem oraz wysoką jakością naszych usług.</p>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="bg-c3 tx-c4 p-5" id="howto">
    <div class="container">
        <h2 class="py-5 text-center">Jak to działa?</h2>
        <div class="row px-lg-5 text-center">
            <div class="col-sm-4 p-3">
                <h4>
                    <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-door-open-fill" viewBox="0 0 16 16">
                        <path d="M1.5 15a.5.5 0 0 0 0 1h13a.5.5 0 0 0 0-1H13V2.5A1.5 1.5 0 0 0 11.5 1H11V.5a.5.5 0 0 0-.57-.495l-7 1A.5.5 0 0 0 3 1.5V15H1.5zM11 2h.5a.5.5 0 0 1 .5.5V15h-1V2zm-2.5 8c-.276 0-.5-.448-.5-1s.224-1 .5-1 .5.448.5 1-.224 1-.5 1z" />
                    </svg>

                    <br /><br />Zaloguj się
                </h4>
            </div>
            <div class="col-sm-4 p-3">
                <h4>
                    <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-list-nested" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M4.5 11.5A.5.5 0 0 1 5 11h10a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5zm-2-4A.5.5 0 0 1 3 7h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm-2-4A.5.5 0 0 1 1 3h10a.5.5 0 0 1 0 1H1a.5.5 0 0 1-.5-.5z" />
                    </svg>

                    <br /><br />Wybierz ofertę
                </h4>
            </div>
            <div class="col-sm-4 p-3">
                <h4>
                    <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-check-circle-fill" viewBox="0 0 16 16">
                        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
                    </svg>

                    <br /><br />Czekaj na potwierdzenie
                </h4>
            </div>
        </div>
    </div>
</div>

@code {
    
}
